@model WebBanDoDienTu.Models.Customers
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_BanDoDienTuLayout.cshtml";
}

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">home</a></li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<section class="account">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="account-contents" style="background: url('/img/about/about1.jpg'); background-size: cover;">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="account-thumb">
                                <h2>Register now</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis consectetur similique deleniti pariatur enim cumque eum</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="account-content">
                                <form asp-action="Register" asp-controller="Register" method="post">
                                    @if (ViewBag.succesRegis != null)
                                    {

                                        <p class="alert alert-success">@ViewBag.succesRegis</p>
                                    }
                                    <div class="single-acc-field">
                                        <label asp-for="Name" for="name">Name</label>
                                        <input asp-for="Name" type="text" id="name" placeholder="Enter Your Name">
                                    </div>
                                    @if (ViewBag.nullename != null)
                                    {

                                        <p class="alert alert-danger">@ViewBag.nullename</p>
                                    }
                                    <div class="single-acc-field">
                                        <label for="email">Email</label>
                                        <input asp-for="Email" type="email" id="email" placeholder="Enter your Email">
                                    </div>
                                    @if (ViewBag.nullemail != null)
                                    {

                                        <p class="alert alert-danger">@ViewBag.nullemail</p>
                                    }
                                    @if (ViewBag.errorRegisEmail != null)
                                    {

                                        <p class="alert alert-danger">@ViewBag.errorRegisEmail</p>
                                    }
                                    <div class="single-acc-field">
                                        <label>Password</label>
                                        <input asp-for="Password" type="password" id="password" placeholder="Enter your Password">
                                    </div>
                                    @if (ViewBag.nullpassword != null)
                                    {

                                        <p class="alert alert-danger">@ViewBag.nullpassword</p>
                                    }
                                    @*<div class="single-acc-field boxes">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I'm not a robot</label>
        </div>*@
                                    <div class="single-acc-field">
                                        <button type="submit">Register now</button>
                                    </div>
                                    <a asp-action="Login" asp-controller="Login">Already account? Login</a>

                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

